.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

:root {
    --taskBorder: 1px solid;
    --taskMinHeight: 25px;
    --checkBoxFactor: 0.75;
    --defaultBackgroundColor: rgb(238, 238, 238);
}

.tasks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
}


.popOutTask {
    padding: 10px 10px !important;
    border-radius: 2px;
    --taskBorder: 4px solid;
    border-color: rgb(160, 160, 160) !important;
    position: absolute;
    z-index: 3 !important;
}

.task {
    display: flex;
    flex-direction: row;
    padding: 5px 0px;
    align-items: center;
    height: var(--taskMinHeight);
    border-color: rgb(201 201 201);
    margin: 10px;
    z-index: 1;
}
.taskBody {
    background-color: var(--defaultBackgroundColor);
    display: flex;
    align-items: center;
    max-width: fit-content;
    height: 100%;
    padding-top: inherit;
    padding-bottom: inherit;
    border-top: var(--taskBorder);
    border-bottom: var(--taskBorder);
    border-color: inherit;

}
.edgeContainer {
    height: 100%;
    padding: inherit;
    padding-left: 5px;
    padding-right: 5px;
    border-top: var(--taskBorder);
    border-bottom: var(--taskBorder);
    border-color: inherit;
}
.rightContainer {
    background-color: rgb(249 78 78);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-right: var(--taskBorder);
    border-color: inherit;
}
.leftContainer {
    background-color: var(--defaultBackgroundColor);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-left: var(--taskBorder);
    border-color: inherit;
}

.task img {
    height: 100%;
}

.task input[type=checkbox] {
    width: calc(var(--taskMinHeight) * var(--checkBoxFactor));
    height: calc(var(--taskMinHeight) * var(--checkBoxFactor));
}


.hidden {
    display: none;
}



.placeHolder {
    width: 264.432px;
    margin: 10px;
}

.visible {
    visibility: hidden;
}

.task input[type=text] {
    background-color: inherit;
    border: none;
    outline: none;
    user-select: none;
    /* width: max-content; */
    /* height: 300px; */

}::selection {
    background-color: transparent;
}